<h2>Edit <%= @business.username %></h2>

<%= render partial: 'business', locals: {business: @business} %>

<br>
<p><%= link_to "Back", :back, class: "btn btn-secondary" %></p>

<h3>Delete Account</h3>

Warning! This cannot be undone. You will need to create a new account if you wish to use this app in the future.

<p><%= button_to "Cancel my account", business_path(@business), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>