<div id="welcome-splash-mini">
    <div id="welcome-logo-mini">
        <%= link_to "penda", root_path, id: "logo-link" %>
    </div> 
</div>

<h2>Create a New Business Account</h2>

<h5>Let's get started! All information is required.</h5>

<%= render partial: 'business', locals: {business: @business} %>

