<div id="welcome-splash-mini">
    <div id="welcome-logo-mini">
        <%= link_to "penda", root_path, id: "logo-link" %>
    </div> 
</div>

<h1>The Ten Most Recently Active Users:</h1>

<ul class="list-group">
<% @list.each do |u| %>
    <li class="list-group-item"><%= u.username %>, last active at: <%= u.updated_at.strftime("%I:%M:%S %p") %></li>
<% end %>
</ul>
