
<div id="welcome-splash">
    <div id="welcome-logo">
        <%= link_to "penda", root_path, id: "logo-link" %>
        <div id="welcome-options">
            <div class="btn-group" role="group" aria-label="Button group for time entries">
                <%= button_to 'Business User', new_business_path,  class: 'btn choices-btn1', method: :get %>
                <%= button_to 'Standard User', new_client_path, class: 'btn choices-btn2', method: :get %>
            </div> <!-- btn-group -->
        </div> <!-- .welcome-options -->
    </div> 
</div>