<div id="welcome-splash">
  <div id="welcome-logo">
    <%= link_to "penda", root_path, id: "logo-link" %>
    <div class="welcome-options">
          <div class="btn-group" role="group" aria-label="Button group for time entries">
              <%= button_to 'sign up', choice_path,  class: 'btn choices-btn1', method: :get %>
              <%= button_to 'log in', new_session_path, class: 'btn choices-btn2', method: :get %>
          </div> <!-- btn-group -->
    </div> <!-- .welcome-options -->
  </div> <!-- .welcome-logo -->
</div> <!-- .welcome-splash -->
