<h1>Displaying All Time Entries for <%= @project.title %>:</h1>

<ul class="list-group">
    <% if @project.time_entries != [] %>
        <% @project.time_entries.each do |t| %>
            <li class="list-group-item"><strong>Title:</strong> <%= link_to t.title, time_entry_path(@project, t) %> | <strong>Duration:</strong> <%= time_duration(t) %> | <strong>Created:</strong> <%= t.created_at.strftime("%A, %d %b %Y %l:%M %p") %></li>
        <% end %>
    <% else %>
        No recorded time entries. Click 'Add New Entry' to get started.
    <% end %>
</ul>